[submodule "themes/simpleness"]
	path = themes/simpleness
	url = https://github.com/RainerChiang/simpleness.git
[submodule "public"]
	path = public
	url = git@github.com-rainer:RainerChiang/simpleness.git
	branch = gh-pages
